* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0px;
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  overflow-x: hidden;
  font-family: "VT323", monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.back-ground {
  width: 2000px;
  height: 100vh;

  position: relative;
  top: 0;
  z-index: -1;
}
.back-img {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.game {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.card-level {
  background-image: url("./data/assets/back/board.png");
  background-position: center;
  background-size: auto;

  padding: 5px;
}
.container {
  background-image: url("./data/assets/back/board.png");
  background-position: center;
  background-size: auto;

  width: fit-content;
  height: fit-content;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  align-items: center;
  justify-items: center;
  padding: 10px;
}
.bar {
  position: relative;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
.bar-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.bar-content {
  width: 660px;
  height: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
}

/* scroll bar */

.bar-content::-webkit-scrollbar {
  height: 9px;
}
/* Track */
.bar-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.356);
}
/* Handle */
.bar-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: white;
}
/* Handle on hover */
.bar-content::-webkit-scrollbar-thumb:hover {
  background: white;
  /* box-shadow: 0 0 5px white; */
  border-radius: 10px;
}

.card {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}
.grid-item {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.212);
  /* border: 1px solid rgb(255, 3, 3); */
}
.card:hover {
  cursor: pointer;
}
.grid-img[src] {
  opacity: 1;
}
.grid-img {
  opacity: 0;
}
.grid-img {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}
.grid-img,
.grid-del {
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(194, 91, 7, 0.808);
}

.components {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
.pix-btn {
  position: relative;
  width: 200px;
  height: 50px;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.pix-btn-back,
.pix-btn-body,
.pix-btn-arrow {
  position: absolute;
  left: 0;
  top: 0;
}
.pix-btn-body {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-transform: uppercase;
}
.pix-btn-arrow {
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.pix-btn-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.back-img3 {
  animation: back3 3s infinite;
  transition: cubic-bezier(0, 0, 0, 0);
}
.back-img4 {
  animation: back2 3s infinite;
  transition: cubic-bezier(0, 0, 0, 0);
}

@keyframes back3 {
  0% {
    left: 0px;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0px;
  }
}
@keyframes back2 {
  0% {
    left: 5px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: 5px;
  }
}

.settings {
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: 2;
}
